.slide1-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}
.slide2-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}
.slide3-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}
.slide4-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}
.slide5-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}
.slide6-img {
  height: auto;
  object-fit: cover;
  filter: brightness(90%);
}

.project2caption {
  color: black;
}