.slide1-img {
  height: auto;
  object-fit: cover;
  filter: brightness(1); 
}
.slide2-img {
  height: auto;
  object-fit: cover;
  filter: brightness(1);
}
.slide3-img {
  height: auto;
  object-fit: cover;
  filter: brightness(1);
}
.slide4-img {
  height: auto;
  object-fit: cover;
  filter: brightness(1);
}

.project1caption {
  color: white;
}