.projects {
    color: white;
    height: 100%;
}
.projectbuttons {
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn {
    transition: transform 0.2s ease-out;
}
.btn:hover {
    transform: scale(1.05);
}