.card-title {
    font-size: 2.5vw;
}
@media only screen and (max-width: 600px) {
    .card-title {
        font-size: 5vw;
    }
}
.card-img-top {
    width: 80px;
    height: 80px;
}
.skills-font {
    color: #ffffff;
}
.focus {
    margin-top: 25px;
    transition: transform 0.2s ease-out;
    padding: auto;
}

.focus:hover {
    transform: scale(1.05);
}