.container-box {
  width: 80%;
  background-color: transparent;
  position: relative;
  z-index: 9;
}

.home-section {
  scroll-snap-align: center;
}

.about-section {
  background-color: #101018f8;
  scroll-snap-align: center;
}
.skills-section {
  background-color: #101018f8;
  scroll-snap-align: center;
}
.projects-section {
  background-color: #101018f8;
  scroll-snap-align: center;
}
